---
layout: default
---

<div class="home">

{% for post in paginator.posts %}
<div class="post">
    <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    <div class="post-date">{{ post.date | date: "%-d %B %Y" }}</div>
    <div class="post-content">{{ post.content }}</div>
    <div class="source">Source: 
        <a class="source-link" href="{{ post.path | remove: '/Users/dansheffler/Dropbox/dansheffler.com/' | prepend: 'https://github.com/dansheffler/dansheffler.com/blame/master/' }}">
            md
        </a>
        | Permalink: 
        <a class="permalink" href="{{ post.url | prepend: site.baseurl }}">
            html
        </a>
    </div>
</div>

{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page ==1 %}
      <a href="{{ site.url }}" class="previous">Newer Posts</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}" class="previous">Newer Posts</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Older Posts</a>
  {% endif %}
</div>







</div>
