---
title: Papers
permalink: /papers/
---

{% for paper in site.papers %}
<h3 class="paper"><a class="post-link" href="{{ paper.url | prepend: site.baseurl }}">{{ paper.title }}</a></h3>
<div class="tagline">{{ paper.tagline | markdownify }}</div>
<div class="source">
	Source: 
	<a class="source-link" href="{{ paper.path | remove: 'C:/Users/daniel.sheffler/OneDrive/Website/' | prepend: 'https://raw.githubusercontent.com/dansheffler/dtsheffler.com/master/' }}">
	    md
	</a>
	{% if paper.pdf %}
    | Paper version: 
    <a class="pdf-link" href="{{ paper.pdf }}"> pdf
    </a>
    | {% endif %}Permalink: 
    <a class="permalink" href="{{ paper.url | prepend: site.baseurl }}">
        html
    </a>
</div>
{% endfor %}

