  <div class="newsletter">
    <div class="rule"></div>
    <header>
      <h2>Newsletter</h2>
    </header>
    <div class="subscribe-footer">
      <p>Receive the weekly newsletter, including art and essays about beauty, culture, and western civilization, straight to your inbox.  Join our cultural cadre in defense of all that is lovely and true.</p>

      <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup">
          <form action="https://dtsheffler.us9.list-manage.com/subscribe/post?u=d7c08c129466f1d622af07344&amp;id=2e4dc1d435&amp;f_id=00e208e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">
              <div id="mc_embed_signup_scroll">
              
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address:  </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                  <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                </div>
                <div id="mce-responses" class="clear foot">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d7c08c129466f1d622af07344_2e4dc1d435" tabindex="-1" value=""></div>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <p style="position: absolute; left: -5000px;" class="brandingLogo"><a href="http://eepurl.com/iak-ff" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
          </div>
      </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
    <div class="rule"></div>
  </div>
