<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div id="content-wrapper">
    {% include header.html %}
    <div class="paper">
        <article class="paper-content">
        {{ content }}
        </article>
    </div>
    <div class="source">
        Source: 
        <a class="source-link" href="{{ page.path | remove: 'C:/Users/Dan/Dropbox/dansheffler/' | prepend: 'https://raw.githubusercontent.com/dansheffler/dansheffler.com/master/' }}">
            md
        </a>
    </div>
</div>
    {% include toc-footer.html %}
</body>

</html>
