<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div id="content-wrapper">
    {% include header.html %}
    <div class="paper">
        <article class="paper-content">
        {{ content }}
        </article>
    </div>
    <div class="source">
        Source: 
        <a class="source-link" href="{{ page.path | remove: 'C:/Users/Dan/Dropbox/dansheffler/' | prepend: 'https://raw.githubusercontent.com/dansheffler/dtsheffler.com/master/' }}">
            md
        </a>
        {% if page.pdf %}
        | Paper version: 
        <a class="pdf-link" href="{{ page.pdf }}"> pdf
        </a>
        {% endif %}| Permalink: 
        <a class="permalink" href="{{ post.url | prepend: site.baseurl }}">
            html
        </a>
    </div>
</div>
    {% include toc-footer.html %}
</body>

</html>
