<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div id="content-wrapper">
    {% include header.html %}

    <div class="post">
        {% if page.banner %}
        <div class="banner">
          <img class="bannerimg" src="{{ site.baseurl }}/banners/{{ page.banner }}">
        </div>
        {% endif %}
        <header class="post-header">
            <h2>{{ page.title }}</h2>
        </header>
        <div class="post-date">{{ page.date | date: "%-d %B %Y" }}</div>

        <article class="post-content">
        {{ content }}
        </article>
        <div class="source">
            Source: 
            <a class="source-link" href="{{ page.path | remove: 'C:/daniel.sheffler/OneDrive/Website/' | prepend: 'https://raw.githubusercontent.com/dansheffler/dtsheffler.com/master/' }}">
                md
            </a>
            | Permalink: 
            <a class="permalink" href="{{ page.url | prepend: site.baseurl }}">
                html
            </a>
            | Tags: 
            <ul class="tags">
            {% for tag in page.tags %}
              <li class="tags">
                <a href="{{ site.baseurl }}/tags/{{ tag }}" class="tag">{{tag}}</a>
              </li>
            {% endfor %}
            </ul>
        </div>
        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_default_style" data-a2a-url="{{ page.url | prepend: site.baseurl }}" data-a2a-title="{{ page.title }}">
        <a class="a2a_dd" href="{{ page.url | prepend: site.baseurl }}"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_email"></a>
        </div>
        <!-- AddToAny END -->
    </div>
</div>
</body>

</html>
