<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">

	    {% if page.excerpt %}
	        <meta name="description" content="{{ presentation.excerpt | strip_html | strip | strip_newlines | truncate: 155 }}">
	    {% else %}
	        <meta name="description" content="{{ site.description }}">
	    {% endif %}



		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/{% if page.theme %}{{ page.theme }}{% else %}black{% endif %}.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	    <!-- Mathjax -->
	    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	    
	    <!-- Google Analytics -->
	    <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-52489871-1', 'auto');
	ga('send', 'pageview');

	    </script>
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				{{ content }}
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>



			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: '{% if page.transition %}{{ page.transition }}{% else %}slide{% endif %}', // none/fade/slide/convex/concave/zoom
				backgroundTransition: '{% if page.transition %}{{ page.transition }}{% else %}slide{% endif %}',
				{% if page.parallax %}
					parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg', // e.g. "'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg'"
				    parallaxBackgroundHorizontal: 50,
				    parallaxBackgroundVertical: 50,
				{% endif %}

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					// { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					// { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>
		<script src="/js/jquery-1.8.3.min.js"></script>

		// A little clever jQuery styling of blockquotes
		<script>
			$('blockquote p').each(function(){

			    var $numWords = $(this).text().split(" ").length;

			    console.log($numWords)

			    if ($numWords >= 25) {
			    	$(this).css("text-align", "left");
			    	$(this).css("padding-left", "1em");
			    }
			    else {
			    	$(this).css("font-size", "1.3em");
			    }

			    if ($numWords >= 50) {
			        $(this).css("font-size", "0.7em");
			    }
			});
		</script>

	</body>
</html>
